{
  "extends": ["airbnb/base", "prettier", "prettier/prettier"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "import/extensions": ["error", "ignorePackages", { "js": "always" }]
  }
}
